/* App.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.addfood {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.food-card {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}
.searchfoodes {
  margin: 20px 0;
}

.search {
  box-shadow: none !important;
  border-color: #ccc !important;
  /* border-right: none !important; */
  /* border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; */
  padding: 10px;
}

.search-button {
  background-color: #007bff; /* Bootstrap primary color */
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid #ccc;
  border-left: none !important;
  padding: 5px 15px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  background-color: #0056b3; /* Bootstrap primary hover color */
}
